body {
  background-color: black;
}


#stage {
    position: relative;
    width: 800px;
    height: 550px;
    overflow: hidden;
    margin: 50px auto 0 auto;
    background-image: url(../images/stageBackground.png);
    text-align: left;
    cursor: crosshair;
    border: solid black 10px;
}

.cow{
  background-image: url(../images/cows/leftHappy.png);
  position: absolute;
  bottom: -40px;
  width: 100px;
  height: 100px;

}
.madCow {
  background-image:  url(../images/cows/rightMad.png);
  position: absolute;
  bottom: -40px;
  width: 100px;
  height: 100px;

}

.madShot {
  background-image:  url(../images/cows/rightMadShot.png); 
}
.happyShot {
  background-image:  url(../images/cows/leftHappyShot.png); 
}

#cow1 {
  left: 0px;

}
#cow2 {
left: 100px;
}
#cow3 {
  left: 300px;
}
#cow4 {
  left: 500px;
}
#cow5 {
  left: 650px;
}
#cow6 {
  left: 750px;
}

.hills {
  display: none;
  position: absolute;
  width: 400px;
  height: 220px;
  bottom: -40px;
}
#hill1 {
  z-index: 1;
  left: -100px;
}
#hill2 {
  z-index: 3;
  left: 220px;
  bottom: -90px;
}
#hill3 {
  z-index: 1;
  left: 500px
}