@font-face {
    font-family:"FarmYard";
    src: url("../fonts/farm.ttf"); /*Only compatable with CSS3 browsers*/
}

body {
  background-color: black;
  font-family: Farmyard;
  color: black;
  text-align: center;
}

#splashScreen {
  position: relative;
  width: 700px;
  height: 450px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px;
  border: solid black 15px;
  border-radius: 20px;
  background: #E6E6E6;
  font-size: 30px;
  text-align: left;

}

#scoreContainer{
  display: inline-block;
  font-size: 50px;
  /*margin: 20px;*/
  width: 200x;
  height:70px;
  margin-right: 0;
}
#scoreContainer h2 {
  width: auto;
  padding-right: 0;
  margin-right: 0;
}

#infectionStatusContainer{
  display: inline-block;
  font-size: 50px;
  /*margin: 20px;*/
  width: 530px;
  height:70px;
}

#infectionStatusContainer h2 {
  display: inline-block;
  margin-right: 10px;
}
#infectionStatus{
  display: inline-block;
  overflow: hidden;
  width:200px;
  height: 30px;
  vertical-align: middle;
  border: solid black 2px;
}
#infectionBar {
  height: 30px;
  width: 100px;
  background: red;
}
#playButton {
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 100px;
  background: red;
  border: solid black 5px;
  border-radius: 15px;
  text-align: center;
  padding-top: 8px;
  font-size: 30px;
}
#playButtonText {
  font-size: 30px;
  font-style: bold;
}
#title{
  margin: 0;
}

.splashInner {
  margin: 20px;
  text-align: center;
}

.splashInner p {
  margin-top: 0px;
  margin-bottom: 5px;
}
.center {
  text-align: center;
  padding-left: 0px;
  margin-top: 5px;
  font-size: 50px;
}

#levelIndicator {
  display: none;
  position: inline-block;
  margin: 0 auto;
  text-align: center;
  width: 200px;
  height: 80px;
  vertical-align: bottom;
  padding: 5px;
}

#splashInstructions {
  margin: 20px;
}
#instructionsLeft {
  display: inline-block;
  width: 300px;
  margin-right: 20px;
}
#instructionsRight {
  display: inline-block;
  width: 300px;
  vertical-align: top;
}
#splashLeaderBoard {
  display: none;
  margin: 20px;
}

#cover {

    position: relative;
    width: 800px;
    height: 550px;
    overflow: hidden;
    margin: 50px auto 0 auto ;
    background-image: url(../images/cover.png);

}


#stage h2 {
  font-size: 50px;
  margin: 20px;
  z-index: 2;

}

/*****GAME BOARD*****/

#stage {
  display: none;
    position: relative;
    width: 800px;
    height: 550px;
    overflow: hidden;
    margin: 50px auto 0 auto;
    background-image: url(../images/stageBackground.png);
    text-align: left;
    cursor: crosshair;
    border: solid black 10px;
}

/*****COW CLASSES*****/

.cow{
  background-image: url(../images/cows/leftHappy.png);
  position: absolute;
  bottom: -40px;
  width: 100px;
  height: 100px;
  z-index: 2;

}
.madCow {
  background-image:  url(../images/cows/rightMad.png);
  position: absolute;
  bottom: -40px;
  width: 100px;
  height: 100px;
  z-index: 2;

}

.madShot {
  background-image:  url(../images/cows/rightMadShot.png); 
}
.happyShot {
  background-image:  url(../images/cows/leftHappyShot.png); 
}

/******COW POSITIONS ******/

#cow1 {
  left: 0px;
}
#cow2 {
  left: 100px;
}
#cow3 {
  left: 300px;
}
#cow4 {
  left: 500px;
}
#cow5 {
  left: 650px;
}
#cow6 {
  left: 750px;
}

/****** HILL POSITIONS ******/

.hills {
  position: absolute;
  bottom: -10px;


  
}
#hill1 {
  z-index: 3;
  height:160px;
  left: 0px;
  height: 150px;
  width: 800px;
}
#hill2 {
  z-index: 1;
  left: 250px;
  bottom: 0px;
  height: 150px;
  width: 400px;
}
/*.hills {
  position: absolute;
  width: 400px;
  height: 220px;
  bottom: -40px;
}
#hill1 {
  z-index: 2;
  left: -100px;
}
#hill2 {
  z-index: 3;
  left: 220px;
  bottom: -90px;
}*/
/*#hill3 {
  z-index: 2;
  left: 500px
}*/